@font-face {
  font-family: "Source Sans Pro";
  src: url('../font/SourceSansPro-Regular.otf');
}

@font-face {
  font-family: "Source Sans Pro";
  src: url('../font/SourceSansPro-Light.otf');
  font-weight: 200;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url('../font/SourceSansPro-Semibold.otf');
  font-weight: 600;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro",
                 "HelveticaNeue-Light",
                 "Helvetica Neue Light",
                 "Helvetica Neue",
                 Helvetica,
                 Arial,
                 "Lucida Grande",
                 sans-serif;
  font-weight: 400;
  background: hsla(180, 5%, 88%, 1);
}

:focus {
  outline-color: transparent;
  outline-style: none;
}

.topcoat-navigation-bar,
.topcoat-navigation-bar__item,
.topcoat-navigation-bar__title {
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  background: transparent;
  border: none;
}

.topcoat-navigation-bar {
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.topcoat-navigation-bar,
.topcoat-navigation-bar__item {
  box-sizing: border-box;
  background-clip: padding-box;
}

.topcoat-navigation-bar,
.topcoat-navigation-bar__title {
  white-space: nowrap;
  overflow: hidden;
}

.topcoat-navigation-bar {
  word-spacing: 0;
}

.topcoat-navigation-bar__item {
  position: relative;
  display: inline-block;
  vertical-align: top;
}

.topcoat-navigation-bar__title {
  text-overflow: ellipsis;
}

/* topdoc
  name: Navigation Bar
  description: A place where navigation goes to drink
  markup:
    <div class="topcoat-navigation-bar">
        <div class="topcoat-navigation-bar__item center full">
            <h1 class="topcoat-navigation-bar__title">Header</h1>
        </div>
    </div>
  tags:
    - desktop
    - light
    - mobile
    - navigation
    - bar
*/

.topcoat-navigation-bar {
  height: 4.375rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background: hsla(165, 8%, 91%, 1);
  color: hsla(0, 0%, 27%, 1);
  box-shadow: inset 0 -1px hsla(168, 8%, 65%, 1), 0 1px hsla(170, 8%, 85%);
  text-align: center;
}

.topcoat-navigation-bar__item {
  margin: 0;
  line-height: 4.375rem;
  vertical-align: top;
}

.topcoat-navigation-bar__title {
  font-size: 1.3rem;
  font-weight: 400;
  color: hsla(0, 0%, 27%, 1);
}
