@import "topcoat-navigation-bar-base";
/* topdoc
  name: Navigation Bar
  description: A place where navigation goes to drink
  markup:
    <div class="topcoat-navigation-bar">
        <div class="topcoat-navigation-bar__item center full">
            <h1 class="topcoat-navigation-bar__title">Header</h1>
        </div>
    </div>
  tags:
    - desktop
    - light
    - mobile
    - navigation
    - bar
*/

.navigation-bar {
  @extend: %navigation-bar;
  height: var(--height--large);
  padding-left: var(--padding--navigation-bar);
  padding-right: var(--padding--navigation-bar);
  background: var(--background-color);
  color: var(--color--navigation-bar);
  box-shadow: var(--box-shadow--navigation-bar);
  text-align: center;
}

.navigation-bar__item {
  @extend: %navigation-bar__item;
  margin: var(--margin);
  line-height: var(--line-height--large);
  vertical-align: top;
}

.navigation-bar__title {
  @extend: %navigation-bar__title;
  font-size: var(--font-size--large);
  font-weight: var(--font-weight--large);
  color: var(--color--navigation-bar);
}
